<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="TrayNotifyBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="TrayNotifyBehavior" name="CG.TrayNotify.Wcf.Service.TrayNotifyEndpoint">
                <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration=""
                    contract="CG.TrayNotify.Common.Interface.ITrayNotify">
                    <identity>
                        <servicePrincipalName value="LocalSystem" />
                        <dns value="" />
                    </identity>
                </endpoint>
                <endpoint binding="mexHttpBinding" bindingConfiguration="" name="mex"
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8000/TrayNotify/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <wsDualHttpBinding>
                <binding name="TrayNotifyClient" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/TrayNotify/TrayNotifyEndpoint"
                binding="wsDualHttpBinding" bindingConfiguration="TrayNotifyClient"
                contract="ITrayNotify" name="TrayNotify.Client" kind="" endpointConfiguration="">
                <identity>
                    <servicePrincipalName value="LocalSystem" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>